.list-container ul.ui.list {
  list-style: none;
  margin-left: 0;
}

.list-container ul.ui.list li::before {
  content: none;
}

.details-container h1.ui.header { 
  margin-top: 0;
}

.details-container h1.ui.header i.icon { 
  margin-left: .75rem;
  vertical-align: super;
}

.details-container .ui.card .horizontal.label { 
  vertical-align: bottom;
}
