.browser-container .ui.list {
  list-style: none;
  margin-left: 0;
}

.browser-container .ui.list li::before {
  content: none;
}

.details-container h1.ui.header { 
  margin-top: 0;
}

.details-container i.external.link.icon { 
  margin-left: .25rem;
  vertical-align: super;
}

.details-container .ui.card .horizontal.label { 
  vertical-align: bottom;
}

.details-container .ui.card .ui.list .ui.label .detail {
  font-size: 1.1em;
}